*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    height: 156vh;
    width: 100%;
    background-color: black;
    margin: 0rem;
    /* overflow: hidden; */
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: roboto;
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: robotoL;
    src: url(../fonts/Roboto-Light.ttf);
}
.navbar{
    /* position: absolute; */
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
}
.navbar a{
    /* font-size: 1.1rem; */
    color: #FFF;
}
.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 20px;
}
.navbar .nav-links ul li.active a{
    color: #FFF;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF, 0px 0px 43.68px #FFF, 0px 0px 87.36px #FFF, 0px 0px 149.76px #FFF, 0px 0px 262.08px #FFF;
}
.navbar .nav-links ul li.active a{
    color: #ffdc69;
    text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69;
    font-weight: 400;
}
.navbar .nav-links ul li.next a{
    color: #FFF;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
}
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 55px;
    right: 50px;
    width: 35px;
    cursor: pointer;
}

.menu{
    width: 1rem;
    height: 5px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.menu span{
    background: #FFF;
    width: 2rem;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}
.menu .line-1{
    transform: translate(-50%, -10px);
}
.menu .line-3{
    transform: translate(-50%, 7px);
}
.openmenu .line-1{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.openmenu .line-3{
    transform: translate(-50%, -50%) rotate(45deg);
}
.openmenu .line-2{
    width: 0;
}
.title{
    margin-top: 0rem;
    position: absolute;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    width: 100%;
}
.title p{
    background: linear-gradient(44deg, #01f97d, #00a1fa);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    color: transparent;
    font-size: 2.5rem;
    padding-top: 0.5rem;
    text-align: center;
}
#image-track > .image{
    width: 40vmin;
    height: 60vmin;
    object-fit: cover;
    object-position: 100% center;
}
#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(0%, -50%);
    user-select: none;
    margin-bottom: 10rem;
}
img.image:hover{
    cursor: pointer;
}
h1{
    margin: 10px 0;
}
p{
    max-width: 33rem;
    text-align: justify;
}
img.pic{
    max-width: 90%;
    height: auto;
    border-radius: 5px;
    margin: 20px 0 10px 0;
}
.popup{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 120vw;
    height: 180vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
    transform: translate(-50%, -50%);
  }
  
  .popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(0);
    background: #fff;
    /* width: 450px;
    height: 280px; */
    width: 800px;
    height: 550px;
    max-height: 80vh; /* Set a maximum height for the content */
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  .popup .content::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }
  .popup .content::-webkit-scrollbar-track {
    background: transparent; /* Track color */
  }
  .popup .content[data-hide-scrollbars] {
    scrollbar-width: none; /* Hide default scrollbar on supported browsers */
  }
  .popup .content[data-hide-scrollbars]::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide thumb */
  }
  .popup .close-btn{
    /* position: absolute; */
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
  }
  
  .popup.active .overlay{
    display: block;
  }
  
  .popup.active .content{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    transition: all 300ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);
  }
  .flexbox{
    margin: 5px 35px;
    display: flex;
    gap: 15px;
    /* justify-content: space-between; */
  }
  .btn {
    position: relative;
    z-index: 1;
    padding: 0.8rem 1.6rem;
    margin: 6px 0;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(44deg, #01f97d, #00a1fa) 1;
    color: black;
    /* background: linear-gradient(44deg, #01f97d, #00a1fa); */
    cursor: pointer;
    height: fit-content;
  }

  .btn::after {
    background-image: linear-gradient(44deg, #01f97d 0%, #00a1fa 100%);
    content: "";
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .btn:hover::after{
    width: 100%; /* On hover, set the width to 100% */
  }
.btn:hover, .btn:hover a {
  color: white; /* On hover, change the text color to white */
}
  /* For browsers that support background-clip: text */
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    .btn {
      background-image: linear-gradient(44deg, #01f97d, #00a1fa);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; 
    }
    .btn a{
        background-image: linear-gradient(44deg, #01f97d, #00a1fa);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
  }


.banner .clouds{
    position: absolute;
    margin-top: 5rem;
    bottom: -30.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.banner .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(10s * var(--i)) linear infinite;
}

@keyframes animate{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.copy{
    position: absolute;
    bottom: -28rem;
    /* opacity: .45; */
    padding: 1rem;
    width: 100%;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
}
.icons{
    display: flex;
    list-style: none;
    justify-content: center;
}
.resize{
    width: 2rem;
    height: 2rem;
    margin: 1rem 2.5rem;
    opacity: 1;
}