*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: linear-gradient(180deg, #010101 97%, rgba(255, 255, 255, 0.00) 99.99%);
    height: 100%;
    width: 100%;
    /* background-color: #010101; */
    margin: 0rem;
    /* overflow: hidden; */
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: roboto;
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: robotoL;
    src: url(../fonts/Roboto-Light.ttf);
}
.navbar{
    /* position: absolute; */
    /* position: fixed; */
    top: 0;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
}
.navbar a{
    /* font-size: 1.1rem; */
    color: #FFF;
}
.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 20px;
}
.navbar .nav-links ul li.active a{
    color: #FFF;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF, 0px 0px 43.68px #FFF, 0px 0px 87.36px #FFF, 0px 0px 149.76px #FFF, 0px 0px 262.08px #FFF;
}
.navbar .nav-links ul li.active a{
    color: #ffdc69;
    text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69;
    font-weight: 400;
}
.navbar .nav-links ul li.next a{
    color: #FFF;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
}
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 55px;
    right: 50px;
    width: 35px;
    cursor: pointer;
}

.menu{
    width: 1rem;
    height: 5px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.menu span{
    background: #FFF;
    width: 2rem;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}
.menu .line-1{
    transform: translate(-50%, -10px);
}
.menu .line-3{
    transform: translate(-50%, 7px);
}
.openmenu .line-1{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.openmenu .line-3{
    transform: translate(-50%, -50%) rotate(45deg);
}
.openmenu .line-2{
    width: 0;
}
.title{
    margin-top: 2rem;
    /* position: absolute; */
    margin-bottom: 3rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.title.show {
    opacity: 1;
}
.title p{
    background: linear-gradient(44deg, #fad126, #fca243, #fd695f);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    color: transparent;
    font-size: 2.5rem;
    /* padding-top: 1.7rem; */
    text-align: center;
}
section{
    padding: 5rem 0 16rem 0;
}
.container{
    margin-left: 60px;
    margin-right: 60px;
    padding: 0 7.5px 3rem 7.5px;
}
.row{
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    margin-bottom: 5rem;
}
.text-wrapper{
    padding-top: 1rem;
    width: 145%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.text-wrapper.show{
    opacity: 1;
}
.text-wrapper h3{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}
.description{
    color: white;
    margin-bottom: 1.5rem!important;
}
.thumbnail{
    width: 200%;
    margin-left: 3rem;
    /* padding-top: 0.5rem; */
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.thumbnail.show{
    opacity: 1;
}
.img-fluid{
    max-width: 100%;
    height: auto;
    user-select: none;
}

.button-text{
    z-index: 1;
    padding: 0.8rem 1.6rem;
    font-weight: 700;
    line-height: 1;
    transition: all .6s cubic-bezier(.19,1,.22,1);
    display: inline-block;
    position: relative;
    background-image: linear-gradient(44deg, #fad126, #fca243, #fd695f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0000;
}
@supports (-webkit-background-clip: text) or (background-clip: text){
    .button-text{
        background-image: linear-gradient(44deg, #fad126, #fca243, #fd695f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0000;
    }
}



.btn {
    position: relative;
    z-index: 1;
    padding: 0.8rem 1.6rem;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(44deg, #fad126, #fca243, #fd695f) 1;
    color: white;
    cursor: pointer;
  }
  
  .btn::after {
    background-image: linear-gradient(44deg, #fad126 0%, #fca243 50%, #fd695f 100%);
    content: "";
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .btn:hover::after{
    width: 100%; /* On hover, set the width to 100% */
  }
.btn:hover, .btn:hover a {
  color: white; /* On hover, change the text color to white */
}
  /* For browsers that support background-clip: text */
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    .btn {
      background-image: linear-gradient(44deg, #fad126, #fca243, #fd695f);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; 
    }
    .btn a{
        background-image: linear-gradient(44deg, #fad126, #fca243, #fd695f);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
  }

.reveal {
    opacity: 0;
    transform: translateX(-50px); /* Start from the left side */
    /* You can also use "transform: translateX(50px);" for the right side */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

  /* Use the "active" class for the animation after the delay */
.reveal.active {
    opacity: 1;
    transform: translateX(0);
}

.reveal2{
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.reveal2.active{
    opacity: 1;
    transform: translateX(0);
}
.banner .clouds{
    position: absolute;
    /* margin-top: 5rem; */
    /* top: 0; */
    bottom: -118rem;
    left: 0;
    width: 100%;
    height: 65%;
    overflow: hidden;
    pointer-events: none;
}
.banner .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(10s * var(--i)) linear infinite;
}

@keyframes animate{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
/* .footer{
    background: linear-gradient(180deg, #fefefe, #FFF);
    position: absolute;
    width: 100%;
    border: 1px solid white;
    height: 6rem;
} */
.copy{
    position: absolute;
    bottom: -118rem;
    /* opacity: .45; */
    padding: 1rem;
    width: 100%;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
}
.icons{
    display: flex;
    list-style: none;
    justify-content: center;
}
.resize{
    width: 2rem;
    height: 2rem;
    margin: 1rem 2.5rem;
    opacity: 1;
}
@media (min-width: 0px) and (max-width: 320px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 48px;
        left: 40px;
        /* z-index: 6; */
    }
    .navbar .menu-hamburger{
        width: 26px;
        right: 40px;
        display: block;
        z-index: 6;
    }
    .nav-links{
        top: 0;
        left: 0;
        /* right: -100%; */
        position: absolute;
        background-color: rgba(250, 233, 177, 0.122);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 1s ease;
        z-index: 5;
    }
    .nav-links.mobile-menu{
        /* right: 0; */
        /* display: none; */
        margin-right: 0;
    }
    .nav-links.mobile-menu-active{
        display: flex;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 20px 0;
        font-size: 1.5em;
    }
    .navbar .nav-links ul li.next a{
        text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
    }
    .navbar .nav-links ul li.active a{
        text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69;
    }
    .title{
        margin-top: 9rem;
    }
    section {
        padding: 2rem 0 0 0;
    }
    .container{
        padding: 0 40px;
        margin-left: 0;
        margin-right: 0;
        height: 144rem;
    }
    .row{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .text-wrapper{
        padding-top: 0;
    }
    .description{
        font-size: 0.8rem;
    }
    .button-text{
        padding: 0.8rem 0.7rem;
        /* font-size: 0.8rem; */
    }
    .thumbnail{
        margin-left: 0;
        padding-top: 25px;
    }
    .banner .clouds{
        height: 26%;
        bottom: -124.5rem;
    }
    .copy{
        bottom: -124rem;
    }
    .resize {
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem 1.2rem;
        opacity: 1;
    }
}

@media(min-width: 321px) and (max-width: 376px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 48px;
        left: 40px;
        /* z-index: 6; */
    }
    .navbar .menu-hamburger{
        width: 26px;
        right: 40px;
        display: block;
        z-index: 6;
    }
    .nav-links{
        top: 0;
        left: 0;
        /* right: -100%; */
        position: absolute;
        background-color: rgba(250, 233, 177, 0.122);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 1s ease;
        z-index: 5;
    }
    .nav-links.mobile-menu{
        /* right: 0; */
        /* display: none; */
        margin-right: 0;
    }
    .nav-links.mobile-menu-active{
        display: flex;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 20px 0;
        font-size: 1.5em;
    }
    .navbar .nav-links ul li.next a{
        text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
    }
    .navbar .nav-links ul li.active a{
        text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69;
    }
    .title{
        margin-top: 9rem;
    }
    section {
        padding: 2rem 0 0 0;
    }
    .container{
        padding: 0 45px;
        margin-left: 0;
        margin-right: 0;
        height: 150rem;
    }
    .row{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .text-wrapper{
        padding-top: 0;
    }
    .description{
        font-size: 0.8rem;
    }
    .button-text{
        padding: 1rem 0.7rem
        /* font-size: 0.8rem; */
    }
    .thumbnail{
        margin-left: 0;
        padding-top: 25px;
    }
    .banner .clouds{
        height: 26%;
        bottom: -130.5rem;
    }
    .copy{
        bottom: -130.5rem;
    }
    .resize {
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem 1.2rem;
        opacity: 1;
    }
}
@media (min-width: 376px) and (max-width: 425px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 48px;
        left: 40px;
        /* z-index: 6; */
    }
    .navbar .menu-hamburger{
        width: 26px;
        right: 40px;
        display: block;
        z-index: 6;
    }
    .nav-links{
        top: 0;
        left: 0;
        /* right: -100%; */
        position: absolute;
        background-color: rgba(250, 233, 177, 0.122);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 1s ease;
        z-index: 5;
    }
    .nav-links.mobile-menu{
        /* right: 0; */
        /* display: none; */
        margin-right: 0;
    }
    .nav-links.mobile-menu-active{
        display: flex;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 20px 0;
        font-size: 1.5em;
    }
    .navbar .nav-links ul li.next a{
        text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
    }
    .navbar .nav-links ul li.active a{
        text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69;
    }
    .title{
        margin-top: 9rem;
    }
    section {
        padding: 2rem 0 0 0;
    }
    .container{
        padding: 0 50px;
        margin-left: 0;
        margin-right: 0;
        height: 150rem;
    }
    .row{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .text-wrapper{
        padding-top: 0;
    }
    .text-wrapper h3{
        font-size: 1.2rem;
    }
    .description{
        font-size: 0.8rem;
    }
    .button-text{
        padding: 1rem 1rem;
        /* font-size: 0.8rem; */
    }
    .thumbnail{
        margin-left: 0;
        padding-top: 30px;
    }
    .banner .clouds{
        height: 26%;
        bottom: -130.5rem;
    }
    .copy{
        bottom: -130.5rem;
    }
    .resize {
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem 1.2rem;
        opacity: 1;
    }
}
@media(min-width: 425px) and (max-width: 475px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 48px;
        left: 40px;
        /* z-index: 6; */
    }
    .navbar .menu-hamburger{
        width: 26px;
        right: 40px;
        display: block;
        z-index: 6;
    }
    .nav-links{
        top: 0;
        left: 0;
        /* right: -100%; */
        position: absolute;
        background-color: rgba(250, 233, 177, 0.122);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 1s ease;
        z-index: 5;
    }
    .nav-links.mobile-menu{
        /* right: 0; */
        /* display: none; */
        margin-right: 0;
    }
    .nav-links.mobile-menu-active{
        display: flex;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 20px 0;
        font-size: 1.5em;
    }
    .navbar .nav-links ul li.next a{
        text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
    }
    .navbar .nav-links ul li.active a{
        text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69;
    }
    .title{
        margin-top: 9rem;
    }
    section {
        padding: 2rem 0 0 0;
    }
    .container{
        padding: 0 50px;
        margin-left: 0;
        margin-right: 0;
        height: 165rem;
    }
    .row{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .text-wrapper{
        padding-top: 0;
    }
    .text-wrapper h3{
        font-size: 1.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .button-text{
        padding: 1rem 1rem;
        /* font-size: 0.8rem; */
    }
    .thumbnail{
        margin-left: 0;
        padding-top: 30px;
    }
    .banner .clouds{
        height: 26%;
        bottom: -145.5rem;
    }
    .copy{
        bottom: -145.5rem;
    }
    .resize {
        width: 1.8rem;
        height: 1.8rem;
        margin: 1rem 1.5rem;
        opacity: 1;
    }
}
@media (min-width: 475px) and (max-width: 530px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 48px;
        left: 40px;
        /* z-index: 6; */
    }
    .navbar .menu-hamburger{
        width: 26px;
        right: 40px;
        display: block;
        z-index: 6;
    }
    .nav-links{
        top: 0;
        left: 0;
        /* right: -100%; */
        position: absolute;
        background-color: rgba(250, 233, 177, 0.122);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 1s ease;
        z-index: 5;
    }
    .nav-links.mobile-menu{
        /* right: 0; */
        /* display: none; */
        margin-right: 0;
    }
    .nav-links.mobile-menu-active{
        display: flex;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 20px 0;
        font-size: 1.5em;
    }
    .navbar .nav-links ul li.next a{
        text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
    }
    .navbar .nav-links ul li.active a{
        text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69;
    }
    .title{
        margin-top: 9rem;
    }
    section {
        padding: 2rem 0 0 0;
    }
    .container{
        padding: 0 50px;
        margin-left: 0;
        margin-right: 0;
        height: 170rem;
    }
    .row{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .text-wrapper{
        padding-top: 0;
    }
    .text-wrapper h3{
        font-size: 1.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .button-text{
        padding: 1rem 1rem;
        /* font-size: 0.8rem; */
    }
    .thumbnail{
        margin-left: 0;
        padding-top: 30px;
    }
    .banner .clouds{
        height: 26%;
        bottom: -150.5rem;
    }
    .copy{
        bottom: -150.5rem;
    }
    .resize {
        width: 1.8rem;
        height: 1.8rem;
        margin: 1rem 1.5rem;
        opacity: 1;
    }
}
@media (min-width: 531px) and (max-width: 600px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 48px;
        left: 40px;
        /* z-index: 6; */
    }
    .navbar .menu-hamburger{
        width: 26px;
        right: 40px;
        display: block;
        z-index: 6;
    }
    .nav-links{
        top: 0;
        left: 0;
        /* right: -100%; */
        position: absolute;
        background-color: rgba(250, 233, 177, 0.122);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 1s ease;
        z-index: 5;
    }
    .nav-links.mobile-menu{
        /* right: 0; */
        /* display: none; */
        margin-right: 0;
    }
    .nav-links.mobile-menu-active{
        display: flex;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 20px 0;
        font-size: 1.5em;
    }
    .navbar .nav-links ul li.next a{
        text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF;
    }
    .navbar .nav-links ul li.active a{
        text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69;
    }
    .title{
        margin-top: 9rem;
    }
    section {
        padding: 2rem 0 0 0;
    }
    .container{
        padding: 0 4rem;
        margin-left: 0;
        margin-right: 0;
        height: 170rem;
    }
    .row{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .text-wrapper{
        padding-top: 0;
    }
    .text-wrapper h3{
        font-size: 1.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .button-text{
        padding: 1rem 1rem;
        /* font-size: 0.8rem; */
    }
    .thumbnail{
        margin-left: 0;
        padding-top: 30px;
    }
    .banner .clouds{
        height: 32%;
        bottom: -150.5rem;
    }
    .copy{
        bottom: -150.5rem;
    }
    .resize {
        width: 1.8rem;
        height: 1.8rem;
        margin: 1rem 1.5rem;
        opacity: 1;
    }
}
@media (min-width: 601px) and (max-width: 768px){
    .title{
        margin-top: 9rem;
    }
    section {
        padding: 2rem 0 0 0;
    }
    .container{
        padding: 0 100px;
        margin-left: 0;
        margin-right: 0;
        height: 192rem;
    }
    .row{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .text-wrapper{
        padding-top: 0;
    }
    .text-wrapper h3{
        font-size: 1.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .button-text{
        padding: 1rem 1rem;
        /* font-size: 0.8rem; */
    }
    .thumbnail{
        margin-left: 0;
        padding-top: 30px;
    }
    .banner .clouds{
        height: 45%;
        bottom: -179.9rem;
    }
    .copy{
        bottom: -179.9rem;
    }
    .resize {
        width: 1.8rem;
        height: 1.8rem;
        margin: 1rem 2.3rem;
        opacity: 1;
    }
}
@media(min-width: 769px) and (max-width: 900px){
    .title{
        margin-top: 9rem;
    }
    section {
        padding: 2rem 0 0 0;
    }
    .container{
        padding: 0 100px;
        margin-left: 0;
        margin-right: 0;
        height: 208rem;
    }
    .row{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .text-wrapper{
        padding-top: 0;
    }
    .text-wrapper h3{
        font-size: 1.8rem;
    }
    .description{
        font-size: 1rem;
    }
    .button-text{
        padding: 1rem 1rem;
        /* font-size: 0.8rem; */
    }
    .thumbnail{
        margin-left: 0;
        padding-top: 50px;
    }
    .banner .clouds{
        height: 50%;
        bottom: -195.9rem;
    }
    .copy{
        bottom: -195.9rem;
    }
    .resize {
        width: 1.8rem;
        height: 1.8rem;
        margin: 1.2rem 2.5rem;
        opacity: 1;
    }
}
@media (min-width: 901px) and (max-width: 998px) {
    .title{
        margin-top: 9rem;
    }
    section {
        padding: 2rem 0 0 0;
    }
    .container{
        padding: 0 125px;
        margin-left: 0;
        margin-right: 0;
        height: 215rem;
    }
    .row{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .text-wrapper{
        padding-top: 0;
    }
    .text-wrapper h3{
        font-size: 1.8rem;
    }
    .description{
        font-size: 1rem;
    }
    .button-text{
        padding: 1rem 1rem;
        /* font-size: 0.8rem; */
    }
    .thumbnail{
        margin-left: 0;
        padding-top: 50px;
    }
    .banner .clouds{
        height: 50%;
        bottom: -202.9rem;
    }
    .copy{
        bottom: -202.9rem;
    }
    .resize {
        width: 1.8rem;
        height: 1.8rem;
        margin: 1.2rem 2.5rem;
        opacity: 1;
    }
}