*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --index: calc(1vw + 1vh);
    --text: #FFF;
    --transition: transform .75s cubic-bezier(.075, 0.5, 0, 1);
}
@font-face{
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}
@font-face{
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}
@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
    background-color: #010101;
    color: #fff;
    /* font-family: raleway_f, sans-serif; */
    font-family: roboto;
    line-height: 1.55;
}
.navbar{
    position: absolute;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
}
.navbar a{
    /* font-size: 1.1rem; */
    color: #FFF;
}
.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF, 0px 0px 43.68px #FFF, 0px 0px 87.36px #FFF, 0px 0px 149.76px #FFF, 0px 0px 262.08px #FFF;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 20px;
}
/* .navbar .nav-links ul li.active a{
    color: #FFF;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF, 0px 0px 43.68px #FFF, 0px 0px 87.36px #FFF, 0px 0px 149.76px #FFF, 0px 0px 262.08px #FFF;
} */
.navbar .nav-links ul li.active a{
    color: #ffdc69;
    text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69, 0px 0px 43.68px #ffdc69, 0px 0px 87.36px #ffdc69, 0px 0px 149.76px #9d822b, 0px 0px 262.08px #ffdc69;
    font-weight: 400;
}
.navbar .nav-links ul li.next a{
    color: #FFF;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF, 0px 0px 43.68px #FFF, 0px 0px 87.36px #FFF, 0px 0px 149.76px #FFF, 0px 0px 262.08px #FFF;
}
/* .navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 55px;
    right: 50px;
    width: 35px;
    cursor: pointer;
} */

/* .menu{
    width: 1rem;
    height: 5px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.menu span{
    background: #FFF;
    width: 2rem;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}
.menu .line-1{
    transform: translate(-50%, -10px);
}
.menu .line-3{
    transform: translate(-50%, 7px);
}
.openmenu .line-1{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.openmenu .line-3{
    transform: translate(-50%, -50%) rotate(45deg);
}
.openmenu .line-2{
    width: 0;
} */
.layers .smallball{
    position: relative;
    left: -30px;
    top: 30px;
    height: 12px;
    width: 13px;
    background: radial-gradient(circle at 75% 25%, #fff 25px, #000000 4%, #000000 30%, #000000 50%);
    border-radius: 50%;
    box-shadow:
    inset 0 0 10px #fff,
    inset 5px 0 23px #fff,
    inset -10px -30px 40px rgb(255, 255, 255),
    inset 0 25px 70px #fff,
    0 0 45px #fff;
    animation: float 2.2s ease-in-out infinite;
    /* fill: radial-gradient(20% 20% at 20.00% 20.00%, #FFF 0%, #FFF 100%); */
    filter: drop-shadow(0px 0px 2.4px #F9D025) drop-shadow(0px 0px 4.8px #F9D025) drop-shadow(0px 0px 16.8px #F9D025);
    z-index: 2;
}
.layers .smallball2{
    position: relative;
    left: calc(var(--index) * -0.5);
    top: -5px;
    height: 0.5rem;
    width: 0.5rem;
    background: radial-gradient(circle at 75% 25%, #fff 25px, #000000 4%, #000000 30%, #000000 50%);
    border-radius: 50%;
    box-shadow:
    inset 0 0 10px #fff,
    inset 5px 0 23px #fff,
    inset -10px -30px 40px rgb(255, 255, 255),
    inset 0 25px 70px #fff,
    0 0 45px #fff;
    animation: float 3.5s ease-in-out infinite;
    /* fill: radial-gradient(20% 20% at 20.00% 20.00%, #FFF 0%, #FFF 100%); */
    filter: drop-shadow(0px 0px 2.4px #F9D025) drop-shadow(0px 0px 4.8px #F9D025) drop-shadow(0px 0px 16.8px #F9D025);
    z-index: 2;
}
.layers .smallball3{
    position: relative;
    left: calc(var(--index) * 20);
    top: -45px;
    height: 7px;
    width: 7.5px;
    background: radial-gradient(circle at 75% 25%, #fff 25px, #000000 4%, #000000 30%, #000000 50%);
    border-radius: 50%;
    box-shadow:
    inset 0 0 10px #fff,
    inset 5px 0 23px #fff,
    inset -10px -30px 40px rgb(255, 255, 255),
    inset 0 25px 70px #fff,
    0 0 45px #fff;
    animation: float 1.8s ease-in-out infinite;
    /* fill: radial-gradient(20% 20% at 20.00% 20.00%, #FFF 0%, #FFF 100%); */
    filter: drop-shadow(0px 0px 2.4px #F9D025) drop-shadow(0px 0px 4.8px #F9D025) drop-shadow(0px 0px 16.8px #F9D025);
    z-index: 2;
}
@keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-6px);
    }
  }
.main-header{
    position: relative;
}
.main-header::after{
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
}
.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition); 
}
.layers_base{
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}
.layers_middle{
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers_front{
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer_header{
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition); 
    will-change: transform;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size: 4rem;
    /* color: #FFF; */
    color: var(--text);
    /* text-shadow: 0 0 15px #9d822b; */
    text-shadow: 0px 0px 6.24px #9d822b, 0px 0px 43.68px #9d822b;
    margin-top: calc(var(--index) * 0.5);
}
.layer_title{
    font-size: calc(var(--index) * 1.8);
    /* letter-spacing: calc(var(--index) / 10); */
}
.main-article{
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / 7.5), 0);
    min-height: 300rem;
    background-size: cover;
    background-color: center;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
.spine{
    pointer-events: none;
    position: fixed;
    top: 150vh;
    bottom: 0;
    left: calc(var(--index) * 10);
    z-index: 2;
    width: 3px;
    height: 153.575rem;
    background: linear-gradient(360deg, #FFF 0%, #F9D025 100%);
    filter: blur(0px);
    /* background: var(--purple) linear-gradient(0deg,var(--bg) 1rem,rgba(var(--bg-rgb),0) 20vh); */
}
.target{
    /* position: relative; */
    overflow: hidden;
}
.circle{
    position: fixed;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background: lightyellow;
    fill: radial-gradient(50% 50.00% at 50.00% 50.00%, #FFF 0%, #FFF 100%);
    filter: drop-shadow(0px 0px 2.4000000953674316px #F9D025) drop-shadow(0px 0px 4.800000190734863px #F9D025) drop-shadow(0px 0px 16.799999237060547px #F9D025) drop-shadow(0px 0px 33.599998474121094px #F9D025) drop-shadow(0px 0px 57.599998474121094px #F9D025) drop-shadow(0px 0px 100.80000305175781px #F9D025);
    top: -4vh;
    left: calc(var(--index) * -1);
    border-radius: 50%;
    z-index: 3;
    transition: top 0.3s ease;
    animation: zoom 0.5s, opac 0.5s;
}
@keyframes opac{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes zoom{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.circle1{
    position: fixed;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background: lightyellow;
    fill: radial-gradient(50% 50.00% at 50.00% 50.00%, #FFF 0%, #FFF 100%);
    filter: drop-shadow(0px 0px 2.4000000953674316px #F9D025) drop-shadow(0px 0px 4.800000190734863px #F9D025) drop-shadow(0px 0px 16.799999237060547px #F9D025) drop-shadow(0px 0px 33.599998474121094px #F9D025) drop-shadow(0px 0px 57.599998474121094px #F9D025) drop-shadow(0px 0px 100.80000305175781px #F9D025);
    top: 93vh;
    left: calc(var(--index) * -1);
    border-radius: 50%;
    z-index: 3;
    transition: top 0.3s ease;
    animation: zoom 1s, opac 1s;
}
.circle2{
    position: fixed;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background: lightyellow;
    fill: radial-gradient(50% 50.00% at 50.00% 50.00%, #FFF 0%, #FFF 100%);
    filter: drop-shadow(0px 0px 2.4000000953674316px #F9D025) drop-shadow(0px 0px 4.800000190734863px #F9D025) drop-shadow(0px 0px 16.799999237060547px #F9D025) drop-shadow(0px 0px 33.599998474121094px #F9D025) drop-shadow(0px 0px 57.599998474121094px #F9D025) drop-shadow(0px 0px 100.80000305175781px #F9D025);
    top: 183vh;
    left: calc(var(--index) * -1);
    border-radius: 50%;
    z-index: 3;
    transition: top 0.3s ease;
    animation: zoom 1s, opac 1s;
}
.circle3{
    position: fixed;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background: lightyellow;
    fill: radial-gradient(50% 50.00% at 50.00% 50.00%, #FFF 0%, #FFF 100%);
    filter: drop-shadow(0px 0px 2.4000000953674316px #F9D025) drop-shadow(0px 0px 4.800000190734863px #F9D025) drop-shadow(0px 0px 16.799999237060547px #F9D025) drop-shadow(0px 0px 33.599998474121094px #F9D025) drop-shadow(0px 0px 57.599998474121094px #F9D025) drop-shadow(0px 0px 100.80000305175781px #F9D025);
    top: 273vh;
    left: calc(var(--index) * -1);
    border-radius: 50%;
    z-index: 3;
    transition: top 0.3s ease;
    animation: zoom 2s, opac 2s;
}
.circle4{
    position: fixed;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background: lightyellow;
    fill: radial-gradient(50% 50.00% at 50.00% 50.00%, #FFF 0%, #FFF 100%);
    filter: drop-shadow(0px 0px 2.4000000953674316px #F9D025) drop-shadow(0px 0px 4.800000190734863px #F9D025) drop-shadow(0px 0px 16.799999237060547px #F9D025) drop-shadow(0px 0px 33.599998474121094px #F9D025) drop-shadow(0px 0px 57.599998474121094px #F9D025) drop-shadow(0px 0px 100.80000305175781px #F9D025);
    top: 365vh;
    left: calc(var(--index) * -1);
    border-radius: 50%;
    z-index: 3;
    transition: top 0.3s ease;
    animation: zoom 4s, opac 4s;
}
.main-article_content{
    height: 300rem;
}
.content-title{
    transform: translate(-11rem, -123.5rem);
    font-size: calc(var(--index) * 1.5);
    color: white;
}
.main-article_header{
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5); 
    transform: var(--main-article-transform);
    transition: var(--transition); 
    will-change: transform;
}
.main-article_paragraph{
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * .9);
    margin-top: calc(var(--index) / 1.25);
    transform: var(--main-article-transform);
    transition: var(--transition); 
    will-change: transform;
}
.content{
    will-change: transform;
}
.copy{
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    opacity: .45;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
}








/* @media screen and (max-width: 768px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 48px;
        left: 50px;
    }
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(250, 233, 177, 0.122);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 0.5s ease;
    }
    .nav-links.mobile-menu{
        margin-right: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.8em;
    }
} */