*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
:root{
    --index: calc(1vw + 1vh);
    --text: #FFF;
    --transition: transform .75s cubic-bezier(.075, 0.5, 0, 1);
    --card-color: #010101;
    /* --card-color: rgb(23,23,23); */
}
@font-face{
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}
@font-face{
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}
@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: robotoL;
    src: url(../fonts/Roboto-Light.ttf);
}
body{
    /* background-color: #010101; */
    background: linear-gradient(180deg, #010101 96.39%, rgba(255, 255, 255, 0.00) 99.99%);
    color: #fff;
    /* font-family: raleway_f, sans-serif; */
    font-family: roboto;
    line-height: 1.55;
    overflow-y: scroll;
    scrollbar-width: none;
}
/* Customize scrollbar thumb appearance */
.simplebar-content::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
  
  /* Create an overlay to cover the scrollbar area */
body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0; 
    background-color: #f2f2f2; 
    z-index: 9999; 
}
.navbar{
    position: absolute;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
}
.navbar a{
    /* font-size: 1.1rem; */
    color: #FFF;
}
.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF, 0px 0px 43.68px #FFF, 0px 0px 87.36px #FFF, 0px 0px 149.76px #FFF, 0px 0px 262.08px #FFF;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 20px;
}
.navbar .nav-links ul li.active a{
    color: #FFF;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF, 0px 0px 43.68px #FFF, 0px 0px 87.36px #FFF, 0px 0px 149.76px #FFF, 0px 0px 262.08px #FFF;
}
.navbar .nav-links ul li.active a{
    color: #ffdc69;
    text-shadow: 0px 0px 6.24px #ffdc69, 0px 0px 12.48px #ffdc69, 0px 0px 43.68px #ffdc69, 0px 0px 87.36px #ffdc69, 0px 0px 149.76px #9d822b, 0px 0px 262.08px #ffdc69;
    font-weight: 400;
}
.navbar .nav-links ul li.next a{
    color: #FFF;
    text-shadow: 0px 0px 6.24px #FFF, 0px 0px 12.48px #FFF, 0px 0px 43.68px #FFF, 0px 0px 87.36px #FFF, 0px 0px 149.76px #FFF, 0px 0px 262.08px #FFF;
}
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 55px;
    right: 50px;
    width: 35px;
    cursor: pointer;
}

.menu{
    width: 1rem;
    height: 5px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.menu span{
    background: #FFF;
    width: 2rem;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}
.menu .line-1{
    transform: translate(-50%, -10px);
}
.menu .line-3{
    transform: translate(-50%, 7px);
}
.openmenu .line-1{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.openmenu .line-3{
    transform: translate(-50%, -50%) rotate(45deg);
}
.openmenu .line-2{
    width: 0;
}

.layers .smallball{
    position: relative;
    left: -30px;
    top: 30px;
    height: 12px;
    width: 12px;
    background: radial-gradient(circle at 75% 25%, #fff 25px, #000000 4%, #000000 30%, #000000 50%);
    border-radius: 50%;
    box-shadow:
    inset 0 0 10px #fff,
    inset 5px 0 23px #fff,
    inset -10px -30px 40px rgb(255, 255, 255),
    inset 0 25px 70px #fff,
    0 0 45px #fff;
    animation: float 2.2s ease-in-out infinite;
    /* fill: radial-gradient(20% 20% at 20.00% 20.00%, #FFF 0%, #FFF 100%); */
    filter: drop-shadow(0px 0px 2.4px #F9D025) drop-shadow(0px 0px 4.8px #F9D025) drop-shadow(0px 0px 16.8px #F9D025);
    z-index: 2;
}
.layers .smallball2{
    position: relative;
    left: calc(var(--index) * -0.5);
    top: -5px;
    height: 0.5rem;
    width: 0.5rem;
    background: radial-gradient(circle at 75% 25%, #fff 25px, #000000 4%, #000000 30%, #000000 50%);
    border-radius: 50%;
    box-shadow:
    inset 0 0 10px #fff,
    inset 5px 0 23px #fff,
    inset -10px -30px 40px rgb(255, 255, 255),
    inset 0 25px 70px #fff,
    0 0 45px #fff;
    animation: float 3.5s ease-in-out infinite;
    /* fill: radial-gradient(20% 20% at 20.00% 20.00%, #FFF 0%, #FFF 100%); */
    filter: drop-shadow(0px 0px 2.4px #F9D025) drop-shadow(0px 0px 4.8px #F9D025) drop-shadow(0px 0px 16.8px #F9D025);
    z-index: 2;
}
.layers .smallball3{
    position: relative;
    left: calc(var(--index) * 20);
    top: -45px;
    height: 7px;
    width: 7.4px;
    background: radial-gradient(circle at 75% 25%, #fff 25px, #000000 4%, #000000 30%, #000000 50%);
    border-radius: 50%;
    box-shadow:
    inset 0 0 10px #fff,
    inset 5px 0 23px #fff,
    inset -10px -30px 40px rgb(255, 255, 255),
    inset 0 25px 70px #fff,
    0 0 45px #fff;
    animation: float 1.8s ease-in-out infinite;
    /* fill: radial-gradient(20% 20% at 20.00% 20.00%, #FFF 0%, #FFF 100%); */
    filter: drop-shadow(0px 0px 2.4px #F9D025) drop-shadow(0px 0px 4.8px #F9D025) drop-shadow(0px 0px 16.8px #F9D025);
    z-index: 2;
}
@keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-6px);
    }
  }
.main-header{
    position: relative;
}
.main-header::after{
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
}
.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition); 
}
.layers_base{
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}
.layers_middle{
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers_front{
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer_header{
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition); 
    will-change: transform;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size: 4rem;
    /* color: #FFF; */
    color: var(--text);
    /* text-shadow: 0 0 15px #9d822b; */
    text-shadow: 0px 0px 6.24px #9d822b, 0px 0px 43.68px #9d822b;
    margin-top: calc(var(--index) * 0.8);
}
.layer_title{
    font-size: calc(var(--index) * 1.8);
    /* letter-spacing: calc(var(--index) / 10); */
}
/* .main-article{
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / 7.5), 0);
    min-height: 300rem;
    background-size: cover;
    background-color: center;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
} */
.image{
    top: 128.5vh;
    position: fixed;
    left: 4.4rem;
}


/* .main-article_content{
    height: 300rem;
} */

.content{
    will-change: transform;
}
section{
    min-height: 60rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
section:nth-child(1){
    color:  #FFF;
}
section .container{
    margin: 17rem 100px 100px 100px;
}
section h2{
    font-family: robotoL;
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 0px 12.48px #FFF, 0px 0px 15px #FFF;
    margin-bottom: 80px;
}
section .cards{
    justify-content: center;
    align-items: center;
    display: flex;
}
.text-card1{
    /* background-color: rgba(255,255,255, 0.1); */
    /* border: 0.1px solid rgba(255, 255, 255, 0.5); */
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    margin: 40px;
    padding: 3px;
    /* height: 17rem; */
    width: 45%;
    box-shadow: 1px 1px 10px #cd3030;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.pic1{
    max-width: 65%;
    max-height: 65%;
    border-radius: 15px;
    padding: 2.1rem 5px;
}
.pic2{
    max-width: 60%;
    max-height: 60%;
    border-radius: 15px;
    padding: 1rem 5px;
}
.pic3{
    max-width: 60%;
    max-height: 60%;
    border-radius: 15px;
    padding: 1.2rem 5px 0.5rem 5px;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.text-card2{
    /* background-color: rgba(255,255,255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1); */
    /* border: 0.1px solid rgba(255, 255, 255, 0.5); */
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    margin: 40px;
    padding: 3px;
    /* height: 17rem; */
    width: 45%;
    box-shadow: 1px 1px 10px #0f865e;
    cursor: pointer;
    position: relative;
}
.text-card3{
    /* background-color: rgba(255,255,255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1); */
    /* border: 0.1px solid rgba(255, 255, 255, 0.5); */
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    margin: 40px;
    padding: 3px;
    /* height: 17rem; */
    width: 45%;
    box-shadow: 1px 1px 10px #5480c7;
    cursor: pointer;
    position: relative;
}
.text-card1 h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.text-card2 h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.text-card3 h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.text-card1 p{
    background: linear-gradient(44deg, #fad126, #fca243, #fd695f);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    color: transparent;
    font-size: 2rem;
    /* padding-top: 1.7rem; */
    text-align: center;
}
.text-card2 p{
    background: linear-gradient(44deg, #01f97d, #00a1fa);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    color: transparent;
    font-size: 2rem;
    padding-top: 0.5rem;
    text-align: center;
}
.text-card3 p{
    background: linear-gradient(44deg, #07cafe, #a54cfd, #ff2ff3);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    color: transparent;
    font-size: 2rem;
    padding-top: 0.5rem;
    text-align: center;
}

.text-card1::before, .text-card1 > .card-border{
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.02), transparent 40%);
    /* background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgb(205, 48, 48, 0.02), transparent 40%); */
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity 300ms;
}
.text-card1::before{
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.02), transparent 40%);
    /* background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgb(205, 48, 48, 0.02), transparent 40%); */
    z-index: 3;
}
.text-card1 > .card-border{
    /* background: radial-gradient(250px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.3), transparent 40%); */
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgb(205, 48, 48), transparent 80%);
    z-index: 1;
}
.text-card2::before, .text-card2 > .card-border{
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity 300ms;
}
.text-card2::before{
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.02), transparent 40%);
    /* background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgb(205, 48, 48, 0.02), transparent 40%); */
    z-index: 3;
}
.text-card2 > .card-border{
    /* background: radial-gradient(250px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.3), transparent 40%); */
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgb(15, 134, 94), transparent 80%);
    z-index: 1;
}
.text-card3::before, .text-card3 > .card-border{
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity 300ms;
}
.text-card3::before{
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.02), transparent 40%);
    /* background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgb(205, 48, 48, 0.02), transparent 40%); */
    z-index: 3;
}
.text-card3 > .card-border{
    /* background: radial-gradient(250px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.3), transparent 40%); */
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgb(84, 128, 199), transparent 80%);
    z-index: 1;
}
.text-card1:hover::before, .text-card1:hover > .card-border{
    opacity: 1;
}
.text-card2:hover::before, .text-card2:hover > .card-border{
    opacity: 1;
}
.text-card3:hover::before, .text-card3:hover > .card-border{
    opacity: 1;
}
.text-card1 > .card-content{
    background-color: var(--card-color);
    border-radius: inherit;
    margin: 1px;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: relative;
    z-index: 2;
}
.text-card2 > .card-content{
    background-color: var(--card-color);
    border-radius: inherit;
    margin: 1px;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: relative;
    z-index: 2;
}
.text-card3 > .card-content{
    background-color: var(--card-color);
    border-radius: inherit;
    margin: 1px;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: relative;
    z-index: 2;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.main-article-content .biography{
    margin: 18.3rem 5rem 0rem 18rem;
}
.sub-text{
    display: flex;
    font-size: 1.5rem;
}
.biography h3{
    font-size: 3rem;
}
.biography .sec-texts{
    height: 36px;
    line-height: 37px;
    overflow: hidden;
}
.sec-texts li{
    position: relative;
    top: 0;
    padding: 0 6.5px;
    margin-bottom: 40px;
    fill: radial-gradient(50% 50.00% at 50% 50.00%, #ffdc69 0%, #ffdc69 100%);
    filter: drop-shadow(rgb(249, 208, 37) 0px 0px 0.40000000000000036px) drop-shadow(rgb(249, 208, 37) 0px 0px 0.8000000000000007px) drop-shadow(rgb(249, 208, 37) 0px 0px 0.8000000000000007px) drop-shadow(rgb(249, 208, 37) 0px 0px 3.600000000000001px);
    animation: slide 6s steps(2) infinite;
}
@keyframes slide{
    100%{
        top: -154px;
    }
}
.sec-texts li span{
    position: relative;
}
.sec-texts li span::before{
    content: '';
    position: absolute;
    left: 0%;
    width: 220px;
    height: 40px;
    background: #010101;
    border-left: 2px solid #ffdc69;
    animation: typing 1.5s steps(16) infinite alternate;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -25px 0 15px;
    }
}

.main-article-content .biography2{
    margin: 33.3rem 15rem 0 18.3rem;
}
.biography2 h3{
    font-size: 3rem;
}

.main-article-content .biography3{
    margin: 28.7rem 15rem 0 18.3rem;
}
.biography3 h3{
    font-size: 3rem;
}

.main-article-content .biography4{
    margin: 28.7rem 15rem 0 18.3rem;
}
.biography4 h3{
    font-size: 3rem;
}

.banner .clouds{
    position: absolute;
    /* margin-top: 5rem; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.banner .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(10s * var(--i)) linear infinite;
}

@keyframes animate{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
/* .footer{
    background: linear-gradient(180deg, #fefefe, #FFF);
    position: absolute;
    width: 100%;
    border: 1px solid white;
    height: 6rem;
} */
.copy{
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    /* opacity: .45; */
    padding: 1rem;
    width: 100%;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
}
.icons{
    display: flex;
    list-style: none;
    justify-content: center;
}
.resize{
    width: 2rem;
    height: 2rem;
    margin: 1rem 2.5rem;
    opacity: 1;
}
@media(max-width: 900px){
    section h1{
        font-size: 40px;
    }
    section .cards{
        flex-direction: column;
    }
}








/* @media screen and (max-width: 768px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 48px;
        left: 50px;
    }
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(250, 233, 177, 0.122);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 0.5s ease;
    }
    .nav-links.mobile-menu{
        margin-right: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.8em;
    }
} */